.container {
    /* background-color: var(--dark-grayish-magenta); */
    padding: var(--padmobile);
    max-width: 1400px;
    margin: auto;
}

.top-pattern, .top-pattern-mobile {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.bottom-pattern, .bottom-pattern-mobile {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.bottom-pattern,
.top-pattern {
    display: none;
}


@media screen and (width > 1200px) {
    .bottom-pattern,
    .top-pattern {
        display: block;
    }

    .bottom-pattern-mobile,
    .top-pattern-mobile {
        display: none;
    }
}